doctype html
html(lang="en")
  head
    title= pageTitle
    style.
      body {
        background-color : #eee;
      }
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p.
        Jade is a terse and simple templating language with a
        strong focus on performance and powerful features.